<main class="register">
    <section class="register__box">
        <div class="register__box__col">
            <h2 class="register__box__col--title">Inicia Sesión</h2>
            <p class="register__box__col--saludo">Bienvenido a OfficeBot</p>
            <form class="register__box__col__form">
                <div class="form-group">
                    <input type="text" placeholder="Ingresa tu nombre de usuario" />
                </div>
                <div class="form-group">
                    <input type="email" placeholder="Ingresa tu correo" />
                </div>
                <div class="from-group">
                    <input type="submit" value="Iniciar Sesión" class="btn btn-secundario" />
                </div>
            </form>
        </div>
        <div class="register__box__col">
            <h1 class="register__box__col--logo">OfficeBot</h1>
            <img src="/img/login.png" alt="" />
        </div>
    </section>
</main>
