<main class="register">
    <section class="register__box">
        <div class="register__box__col">
            <h2 class="register__box__col--title">
                Hola, que tal
            </h2>
            <p class="register__box__col--saludo">
                Bienvenido a OfficeBot
            </p>
            <form class="register__box__col">
                
            </form>
        </div>
    </section>
</main>