*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ie-box-sizing: border-box;
  vertical-align: baseline;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  min-height: 100vh;
  width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  display: inline-block;
  color: inherit;
}

img,
video,
iframe,
picture,
figure {
  max-width: 100%;
  display: block;
}

form,
input,
select,
textarea,
button,
label {
  font-family: inherit;
  font-size: inherit;
  display: block;
  color: inherit;
}

:root {
  --color-principal: #010417;
  --color-principal-light: #070d3d;
  --color-principal-superlight: #0e133f;
  --color-secundario-light: #00C66C;
  --color-secundario: #006438;
}

.form-group:not(:last-child) {
  margin-bottom: 3rem;
}
.form-group input[type=text],
.form-group input[type=email],
.form-group input[type=password] {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  padding: 1rem;
  border: none;
  border: 1px solid #ccc;
  border-radius: 1rem;
  outline: 0;
}
.form-group__error {
  font-size: 1.6rem;
  color: #e74c3c;
  text-align: right;
  font-family: "Roboto", sans-serif;
}

.btn {
  border: none;
  font-size: 1.8rem;
  font-family: "Kode Mono", monospace;
  padding: 1rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
}

.btn-principal {
  color: white;
  background-color: var(--color-principal-light);
  transition: all 0.3s;
}
.btn-principal:hover {
  background-color: var(--color-principal);
  transition: all 0.3s;
}

.btn-secundario {
  color: white;
  background-color: var(--color-secundario-light);
  transition: all 0.3s;
}
.btn-secundario:hover {
  background-color: var(--color-secundario);
  transition: all 0.3s;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pt-5 {
  padding-top: 5rem;
}

.pt-6 {
  padding-top: 6rem;
}

.pt-7 {
  padding-top: 7rem;
}

.pt-8 {
  padding-top: 8rem;
}

.pt-9 {
  padding-top: 9rem;
}

.pt-10 {
  padding-top: 10rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.pb-6 {
  padding-bottom: 6rem;
}

.pb-7 {
  padding-bottom: 7rem;
}

.pb-8 {
  padding-bottom: 8rem;
}

.pb-9 {
  padding-bottom: 9rem;
}

.pb-10 {
  padding-bottom: 10rem;
}

.pl-1 {
  padding-left: 1rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pl-4 {
  padding-left: 4rem;
}

.pl-5 {
  padding-left: 5rem;
}

.pl-6 {
  padding-left: 6rem;
}

.pl-7 {
  padding-left: 7rem;
}

.pl-8 {
  padding-left: 8rem;
}

.pl-9 {
  padding-left: 9rem;
}

.pl-10 {
  padding-left: 10rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pr-4 {
  padding-right: 4rem;
}

.pr-5 {
  padding-right: 5rem;
}

.pr-6 {
  padding-right: 6rem;
}

.pr-7 {
  padding-right: 7rem;
}

.pr-8 {
  padding-right: 8rem;
}

.pr-9 {
  padding-right: 9rem;
}

.pr-10 {
  padding-right: 10rem;
}

.message {
  border-radius: 10px;
  padding: 10px;
  margin: 5px 0;
  line-height: 1.4;
}

.user-message {
  color: white;
  text-align: right;
  margin-left: 20%;
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
}

.bot-message {
  background-color: #e9ecef;
  text-align: left;
  margin-right: 20%;
  font-size: 1.5rem;
  font-family: "Kode Mono", monospace;
}

.register {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register__box {
  width: 60%;
  display: flex;
  border: 2px solid var(--color-principal);
  border-radius: 3rem;
  box-shadow: 10px 10px 10px #ccc;
  overflow: hidden;
}
.register__box__col {
  width: 50%;
}
.register__box__col:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.register__box__col--title {
  font-family: "Kode Mono", monospace;
  font-size: 3.5rem;
  color: #FF9C16;
}
.register__box__col--saludo {
  font-family: "Doto", sans-serif;
  font-size: 2rem;
}
.register__box__col__form {
  width: 80%;
  margin-top: 3rem;
}
.register__box__col:last-child {
  position: relative;
}
.register__box__col img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.register__box__col--logo {
  position: absolute;
  color: white;
  font-family: "Doto", sans-serif;
  font-size: 2.5rem;
  top: 3rem;
  left: 3rem;
  z-index: 1;
}

.bot {
  height: 100vh;
  display: flex;
}
.bot__aside {
  width: 20%;
  background-color: var(--color-principal);
  padding: 5rem 2rem;
}
.bot__aside__title {
  font-family: "Kode Mono", monospace;
  color: var(--color-secundario-light);
}
.bot__aside__consultasBox {
  margin-top: 3rem;
}
.bot__aside__consultasBox__title {
  color: white;
  font-family: "Roboto", sans-serif;
}
.bot__aside__consultasBox__box {
  overflow-y: auto;
  padding-left: 2rem;
  margin-top: 3rem;
}
.bot__aside__consultasBox__box__list:not(:last-child) {
  margin-bottom: 3rem;
}
.bot__aside__consultasBox__box__list--link {
  color: white;
  font-family: "Kode Mono", monospace;
  font-size: 1.6rem;
}
.bot__right {
  width: 80%;
  background-color: var(--color-principal-light);
  display: flex;
  justify-content: center;
  align-items: center;
}
.bot__right__box {
  width: 60%;
}
.bot__right__box__chat {
  border: 1px solid rgba(255, 255, 255, 0.8);
  width: 100%;
  background-color: var(--color-principal-superlight);
  border-radius: 3rem;
  padding: 1rem;
  overflow-y: auto;
  height: 60vh;
}
.bot__right__box .input-group {
  margin-top: 1rem;
  width: 100%;
}
.bot__right__box .input-group #inputbox {
  width: 100%;
  border: none;
  padding: 1rem;
  font-size: 1.6rem;
  background: var(--color-principal-superlight);
  border-radius: 1rem;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto", sans-serif;
}
.bot__right__box .input-group .input-group-append {
  margin-top: 1rem;
  display: flex;
  justify-content: end;
}

/*# sourceMappingURL=estilos.css.map */
