<main class="bot">
    <div class="bot__aside">
        <h1 class="bot__aside__title">OfficeBot</h1>
        <div class="bot__aside__consultasBox">
            <h2 class="bot__aside__consultasBox__title">Consultas</h2>
            <ul class="bot__aside__consultasBox__box">
                <li class="bot__aside__consultasBox__box__list">
                    <a href="" class="bot__aside__consultasBox__box__list--link">Consulta 01</a>
                </li>
                <li class="bot__aside__consultasBox__box__list">
                    <a href="" class="bot__aside__consultasBox__box__list--link">Consulta 01</a>
                </li>
                <li class="bot__aside__consultasBox__box__list">
                    <a href="" class="bot__aside__consultasBox__box__list--link">Consulta 01</a>
                </li>
                <li class="bot__aside__consultasBox__box__list">
                    <a href="" class="bot__aside__consultasBox__box__list--link">Consulta 01</a>
                </li>
                <li class="bot__aside__consultasBox__box__list">
                    <a href="" class="bot__aside__consultasBox__box__list--link">Consulta 01</a>
                </li>
                <li class="bot__aside__consultasBox__box__list">
                    <a href="" class="bot__aside__consultasBox__box__list--link">Consulta 01</a>
                </li>
                <li class="bot__aside__consultasBox__box__list">
                    <a href="" class="bot__aside__consultasBox__box__list--link">Consulta 01</a>
                </li>
                <li class="bot__aside__consultasBox__box__list">
                    <a href="" class="bot__aside__consultasBox__box__list--link">Consulta 01</a>
                </li>
                <li class="bot__aside__consultasBox__box__list">
                    <a href="" class="bot__aside__consultasBox__box__list--link">Consulta 01</a>
                </li>
                <li class="bot__aside__consultasBox__box__list">
                    <a href="" class="bot__aside__consultasBox__box__list--link">Consulta 01</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="bot__right">
        <div class="bot__right__box">
            <!-- <h1 class="text-center">Chat with A.I</h1> -->
            <div id="chatbox" class="bot__right__box__chat border p-3 mb-4">
                <!-- Messages will be appended here -->
            </div>
            <div class="input-group">
                <input id="inputbox" type="text" class="form-control" placeholder="Esriba su consulta..." />
                <div class="input-group-append">
                    <button class="btn btn-secundario" onclick="sendMessage()">Enviar</button>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    let previousMessage = "";

    async function sendMessage() {
        const inputBox = document.querySelector("#inputbox");

        const message = inputBox.value;

        appendMessage(message, "user");

        inputBox.value = "";

        try {
            const response = await axios.post("http://localhost:3000/message", {
                prompt: message,
                previousMessage,
            });
            appendMessage(response.data.message, "bot");
            previousMessage = response.data.message;
        } catch (error) {
            console.error(error);
            appendMessage("Ocurrio un error durante la peticion", "bot");
        }
    }

    function appendMessage(message, sender) {
        const chatbox = document.querySelector("#chatbox");

        const msgElement = document.createElement("p");

        msgElement.classList.add('message', sender === "user" ? "user-message" : "bot-message");

        msgElement.innerText = message;

        chatbox.appendChild(msgElement);

        chatbox.scrollTop = chatbox.scrollHeight;
    }
</script>